#modelContainer {
    width:100%;
    height:100%;
}
.TitleQuote {
    font-size: 0.8rem !important;
}
#renderCanvas {
            width: 100% !important;
             height: 100% !important;  
}

.smallerMessage{
    padding-left: 30%;
}